.gap-1 {
    gap: 4px;
}

.gap-2 {
    gap: 8px;
}

.gap-3 {
    gap: 12px;
}

.gap-4 {
    gap: 16px;
}

.gap-5 {
    gap: 20px;
}

.list-style-type-none {
    list-style-type: !important none;
}

.height-view-port {
    height: 100dvh;
    max-height: 100dvh;
}
